body{
  padding: 15px;
}

.target-svg *{
  cursor: none;
}

button{
  margin-left:8px;
}

.targetElement text{
  display: none;
  pointer-events: none;
}

.targetElement:hover text{
  display: block;
}

.targetElement:hover path{
  fill: yellow;
}